.para{
    font-size: large;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body
{
    font-family:  Arial, Helvetica, sans-serif,Times, serif;
    
}
